# Flutter/Dart related
# https://github.com/github/gitignore/blob/main/Dart.gitignore

# Built and temporary files
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android related
android/**/generated/
android/key.properties
android/local.properties
android/app/src/main/res/values/strings.xml
android/app/google-services.json

# iOS related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/GeneratedPluginRegistrant.swift

# Symbols and Secrets
*.symbols
*.pptx
.env
.env.*

# IDEs
.idea/
.vscode/
*.iml
*.iws

# OS files
.DS_Store
Thumbs.db
desktop.ini
